/** Add css rules here for your application. */

.testAppContainer
{
	width: 900px;
	height: 500px;
}

.mainPanel
{
	background-color: #FFF;
	width: 900px;
	height: 500px;
}

.headerPanel
{
	width: 100%;
	height: 70px;
	border-bottom: 5px #333 solid;
	padding: 10px;
}

.contentPanel
{
	width: 100%;
	height: 480px;
}

.questionPanel
{
	width: 650px;
	height: 480px;
	padding: 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	color: #5D5B46;
}

.answersContainer
{
	
}
	
.answersPanel
{
	width: 230px;
	height: 400px;
	/*background-color: #DDDDDD;*/
	padding: 15px;
	font-family: Arial, Helvetica, Sans-Serif;
}

.footerPanel
{
	height: 50px;
	width: 100%;
	padding: 5px;
	background: rgb(59, 59, 59);
}

.footerContainer
{
	padding: 5px;
}

.testIDDiv
{
	visibility: hidden;
}

.standardText
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	line-height: 130%;
	letter-spacing: 0.9px;
	word-spacing: 1.2px;
	margin-bottom: 10px;
	color: #5D5B46;
}


.errorText
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	line-height: 130%;
	letter-spacing: 0.9px;
	word-spacing: 1.2px;
	margin-bottom: 10px;
	color: rgb(209, 54, 16);
	font-weight: bold;
}

.successText
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	line-height: 130%;
	letter-spacing: 0.9px;
	word-spacing: 1.2px;
	margin-bottom: 10px;
	color: rgb(0,72,117);
	font-weight: bold;
}

.smallText
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
}

.answerSheetText
{
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	color: #5D5B46;
	font-size: 8pt;
}

.answerSheetTextRAligned
{
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	font-size: 8pt;
	color: #5D5B46;
	text-align: center;
}

.copyright
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 9pt;
	color: #DDDDDD;
}

.directionsText
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	color: rgb(0,72,117);
	margin-bottom: 10px;
	
}

.questionLink
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	color: #5D5B46;
	cursor: pointer;
}

.directionsButton
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	font-weight: bold;
	color:  rgb(0,72,117);
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 3px;
}

.clearButton
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 10px;
	border: solid;
	border-width: 1px;
	width: 110px;
	padding: 3px;
	background-color: rgb(209, 54, 16);
	text-align: center;
}

.markForReviewButton
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	font-weight: bold;
	color:  rgb(209, 54, 16);
	cursor: pointer;
}

.timer
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	font-weight: bold;
	color:  rgb(217,108,0);
	margin-bottom: 10px;
}

.answersLabel
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: 1px dashed;
}

.footerLinks
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px;
	border: solid;
	border-width: 1px;
	background: #444;
	margin-left: 5px;
	margin-right: 5px;
}

.footerText
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
}

.answeredType
{
	background-color: rgb(219, 238, 225);
}

.markedForReviewType
{
	background-color: rgb(255, 226, 213);
}